/* tablet: 768px */

@media screen and (min-width:768px) {

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col {
        width: calc(100% / 3 - (2rem/3));
    }



    /* MAIN  ++++++++++++++++++++++++++++++++++++++++++++*/
    /* HERO ++++++++++++++++++++++++++++++++++++++++++++*/

    .hero .columns :first-child {
        width: calc(2 * 100% / 3 - 1rem / 3);
    }

    .ai-flex-start{
        align-items: flex-start;
    }

    /* <!-- strategic-planning +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

    #strategic-planning .columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }
    


    /* <!-- Partners +++++++++++++++++++++++++++++++++++++++++++++++++ --> */
    #partners-col-id {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .partners-image {
        width: 80%;
    }

    .partners-col {
        display: flex;
        flex-direction: row;
    }

    .partners-text {
        width: 70%;
    }


    /* <!-- benefits +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

    #benefits .col,
    #about .col {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 0;
    }

    #benefits .col {
        width: 46%;
        margin: 0 auto 1rem;
    }


    /* <!-- about us +++++++++++++++++++++++++++++++++++++++++++++++++--> */

    #about .col {
        margin: 0 auto 1rem;
    }

    #about .text {
        width: 60%;
    }

    #about .picture {
        width: 38%;
    }

    /* <!-- call-to-action --> */

    .container-cta {
        width: 90%;
        margin: 0 auto 1rem;
    }



}

/* Desktop 992px */
@media screen and (min-width:992px) {

    /* common */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }

    .container-small {
        width: 70%;
        margin: 0 auto;
        max-width: 800px;
        padding: 0px 1rem;

        /* debug */
        border: 1px solid white;
    }

    /* header */
    .fix-btn {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-menu ul {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

    /* MAIN +++++++++++++++++++++++++++++++++++++ */
    /* HERO ++++++++++++++++++++++++++++++++++++++++++++*/

    #card-double-width{
        display: flex;
        flex-direction: row;
    }

    /* <!-- strategic-planning +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

    #strategic-planning .columns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
    }


    /* <!-- benefits +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

    #benefits .col {
        width: 31%;
    }

    /* <!-- about us +++++++++++++++++++++++++++++++++++++++++++++++++--> */

    #about .text {
        width: 68%;
    }

    #about .picture {
        width: 28%;
    }

    /* <!-- call-to-action --> */

    .container-cta {
        width: 50%;
        max-width: 450px;
        margin: 0 auto 1rem;
    }




}