/* tablet: 768px */

@media screen and (min-width:768px) {

    .columns {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 3 - (2rem/3));
    }

    #first-col {
        width: calc(2 * 100% / 3 -(1rem / 3));
    }

    /* MAIN  ++++++++++++++++++++++++++++++++++++++++++++*/
    /* HERO ++++++++++++++++++++++++++++++++++++++++++++*/
   
    .hero .columns :first-child{
        width: calc(2 * 100% / 3 - 1rem / 3);
    }

}

/* Desktop 992px */
@media screen and (min-width:992px) {

    /* common */
    .container {
        width: 80%;
        margin: 0 auto;
        max-width: 1000px;
    }

    /* header */
    .fix-btn {
        display: none;
    }

    .header-menu {
        display: block;
    }

    .header-menu ul {
        display: flex;
        list-style: none;
        gap: 1rem;
    }

}