/* reset +++++++++++++++++++++++++++++++++++++++++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: PT Sans, sans-serif;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
}

/* common +++++++++++++++++++++++++++++++++++++++++++++++++*/
.container {
    width: 100%;
    padding: 0px 1rem;
}

.container-small {
    width: 100%;
    padding: 0px 1rem;
}

.button {
    width: 200px;
    margin: 1rem;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
}

.center-medium-80{
    width: 80%;
    margin: 0 auto;
}

.header-icon {
    font-size: clamp(6rem, calc(6vw + .8rem), 8rem)
}

/* utilities +++++++++++++++++++++++++++++++++++++++++++++++++*/
.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.debug-height-200 {
    min-height: 200px;
}

.text-align-center {
    text-align: center;
}

/* paddings +++++++++++++++++++++++++++++++++++++++++++++++++ */

.p-all-1r {
    padding: 1rem;
}

.p-all-2r {
    padding: 2rem;
}



.pt-1 {
    padding-top: 1rem;
}

.pv-2-rem{
    padding: 2rem 0;
}

/* margin +++++++++++++++++++++++++++++++++++++++++++++++++ */

.ml-1rem{
    margin-left: 1rem;
}

.mt-1r{
    margin-top: 1rem;
}

/* bg colors +++++++++++++++++++++++++++++++++++++++++++++++++ */

.bg-pink {
    background-color: pink;
}

.bg-blue {
    background-color: #0084fd;
}

.bg-white {
    background-color: white;
}

.bg-light-blue{
    background-color: lightblue;
}

.bg-light-purple{
    background-color: #9593e6;
}

/* text +++++++++++++++++++++++++++++++++++++++++++++++++ */

.font-2-5-rem {
    font-size: 2.5rem;
}

.font-3-rem {
    font-size: 3rem;
}

.text-left {
    text-align: left;
}

.text-cursive {
    font-family: italic;
    font-style: italic;
    font-weight: 500;
}

.text-black{
    color: black;
}

.text-blue {
    color: #0084fd;
}

.text-light-purple {
    color: #9593e6;
}

.text-white {
    color: white;
}








/* header +++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-header {
    background-color: #0084fd;
    line-height: clamp(3.8rem, calc(3.8vw + .8rem), 5rem);
    height: clamp(3.8rem, calc(3.8vw + .8rem), 5rem);
    padding-bottom: 3rem;

    /* debug +++++++++++++++++++++++++++++++++++++++++++++++++*/
}

.header-menu {
    display: none;
}

.fix-menu-btn {
    font-size: 1.5rem;
    background-color: transparent;
}

/* Main  +++++++++++++++++++++++++++++++++++++++++++++++++*/
/* hero +++++++++++++++++++++++++++++++++++++++++++++++++*/

.hero {
    padding: 1.5rem 0;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.col {
    border-radius: 5px;
    width: 100%;

    /* debug */
    min-height: 200px;

}

.inner-col {
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;


    /* debug */
    min-height: 200px;
}

.phone-img {
    min-width: 45%;
    max-width: 55%;
}

.app-store {
    display: block;
}

/* <!-- strategic-planning +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

.boy{
    text-align: center;
    border-radius: 15px;
}


/* <!-- Partners +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

.partners-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.partners-image {
    width: 80%;
    text-align: center;
}

.partners-image img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    width: 70%;
}

/* <!-- benefits +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

.inner-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


#benefits .button.bg-blue.text-white {
    margin: 1rem 1rem;
}

/* <!-- about us +++++++++++++++++++++++++++++++++++++++++++++++++--> */

.col.picture img {
    border-radius: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    width: 100%;
}

.col.picture {
    text-align: center;
}

.ancor {
    position: relative;
    border-radius: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    width: 40%;
}


#about .button.bg-blue.text-white {
    margin: 1rem 0;
}

.quote-icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
    color: black;
    z-index: 999;
    font-size: 2rem;
}

/* <!-- call-to-action --> */

.container-cta {
    width: 100%;
    padding: 0px 1rem;

}


/* <!-- footer  --> */

footer {

    /* debug */
    background-color: gray;
    color: white;
}