/* reset +++++++++++++++++++++++++++++++++++++++++++++++++*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: PT Sans, sans-serif;
}

img {
    max-width: 100%;
}

/* common +++++++++++++++++++++++++++++++++++++++++++++++++*/
.container {
    width: 100%;
    padding: 0px 1rem;

    /* debug */
    border: 1px solid black;
}

.container-small {
    width: 100%;
    padding: 0px 1rem;

    /* debug */
    border: 1px solid white;
}

.button {
    width: 200px;
    margin: 1rem auto;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
}

.header-icon{
    font-size: clamp(6rem, calc(6vw + .8rem), 8rem)
}

/* utilities +++++++++++++++++++++++++++++++++++++++++++++++++*/
.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.debug-height-200 {
    min-height: 200px;
}

.text-align-center {
    text-align: center;
}

/* paddings */

.p-all-2r {
    padding: 2rem;
}

.pt-1 {
    padding-top: 1rem;
}

/* bg colors +++++++++++++++++++++++++++++++++++++++++++++++++ */

.bg-pink {
    background-color: pink;
}

.bg-blue{
    background-color: aquamarine;
}

/* text +++++++++++++++++++++++++++++++++++++++++++++++++ */

.font-2-5-rem {
    font-size: 2.5rem;
}

.text-white {
    color: white;
}

.text-left{
    text-align: left;
}





/* header +++++++++++++++++++++++++++++++++++++++++++++++++*/
.main-header {
    background-color: #0084fd;
    line-height: clamp(3.8rem, calc(3.8vw + .8rem), 5rem);
    height: clamp(3.8rem, calc(3.8vw + .8rem), 5rem);
    padding-bottom: 3rem;

    /* debug +++++++++++++++++++++++++++++++++++++++++++++++++*/
}

.header-menu {
    display: none;
}

.fix-menu-btn {
    font-size: 1.5rem;
    background-color: transparent;
}

/* Main  +++++++++++++++++++++++++++++++++++++++++++++++++*/
/* hero +++++++++++++++++++++++++++++++++++++++++++++++++*/

.hero {
    padding: 1.5rem 0;
    /* debug +++++++++++++++++++++++++++++++++++++++++++++++++*/
    background-color: lightgray;
}

.columns {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    /* debug */
    background-color: lightblue;

}

.col {
    border: 2px solid orange;
    border-radius: 5px;
    width: 100%;

    /* debug */
    min-height: 200px;
}

.inner-col {
    border: 2px solid orange;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;


    /* debug */
    min-height: 200px;
}

.phone-img {
    min-width: 45%;
    max-width: 55%;
}

.app-store{
    display: block;
}

/* <!-- Partners +++++++++++++++++++++++++++++++++++++++++++++++++ --> */

.partners-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-image {
    width: 80%;
}

/* <!-- call-to-action --> */

.container-cta {
    width: 100%;
    padding: 0px 1rem;

}

/* <!-- footer  --> */

footer {

    /* debug */
    background-color: gray;
    color: white;
}